/* Stylesheet for the application */

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding: 8px;
    min-height: 600px;
}

header {
    margin-bottom: 40px;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a img {
    width: 70%;
}

h1 {
    color: #5C4033;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

/**** General form styles ****/

.generic-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn-ok {
    background-color: #967969;
    color: white;
}

.btn-ok:hover {
    background-color: #C19770;
    color: white;
}

.btn-danger {
    background-color: #C04000;
    color: white;
}

.btn-danger:hover {
    background-color: #C04000;
    color: white;
}

.generic-form input[type=text], .generic-form input[type=password] {
    padding: 10px;
    font-size: 1.2rem;
}

.input-large {
    width: 300px;
}

.error {
    padding: 10px;
    color: #C04000;
    max-width: 400px;
}


/**** Task styles ****/

.task-table {
    border-collapse: collapse;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
}

.task-table td, .task-table th {
    border: 1px solid #ddd;
    padding: 10px;
}

.task-table tr:nth-child(even) {
    background-color: silver;
}

/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Placerer logo og links på hver sin side */
    align-items: center; /* Vertikal centrering */
    padding: 10px 20px; /* Indvendig afstand */
}

.nav-links {
    list-style-type: none; /* Fjerner punkttegn */
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox for at få links i en række */
}

.nav-links li {
    margin-left: 20px; /* Mellemrum mellem links */
}

.nav-links a {
    text-decoration: none; /* Fjerner understregning */
    color: black;
    padding: 5px 10px; /* Indvendig afstand for links */
    transition: background-color 0.3s; /* Overgangseffekt ved hover */
}

.nav-links a:hover {
    background-color: #555; /* Mørkere baggrund ved hover */
    border-radius: 5px; /* Rundede kanter */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.mt{
    margin-top: 7vh;
    margin-bottom: 1vh;
}

.bold{
    font-weight: bold;
    font-size: 2em;
}